<mat-toolbar>
    <span>BASE DE DATOS - UAI</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary">Iniciar Sesión</button>
</mat-toolbar>
<div class="m-4">
    <mat-card>
        <mat-card-title>Búsqueda rápida</mat-card-title>
        <mat-card-actions>
            <mat-form-field appearance="outline">
                <mat-label>Buscar un título o tema</mat-label>
                <input matInput placeholder="Placeholder">
                </mat-form-field>
                
          <button mat-raised-button color="primary">Buscar</button>
          <button mat-raised-button>Cancelar</button>
        </mat-card-actions>
      </mat-card>
</div>
