<app-progress-bar *ngIf="loading"></app-progress-bar>
<div class="container" *ngIf="!loading">
  <div class="d-flex justify-content-between my-4">
      <h4>Lista de Reuniones</h4>
      <button type="button" class="btn btn-outline-primary" routerLink="/add">Agregar</button>
  </div>
  <div class="table-responsive">
    <table *ngIf="listCourses.length > 0" class="table table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">Id Horario</th>
          <th scope="col">Enlace</th>
          <th scope="col">Id Zoom</th>
          <th scope="col">Clave</th>
          <th width="10"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listCourses">
          <td scope="row">{{ item.id_horario }}</td>
          <td>{{ item.enlace_zoom }}</td>
          <td>{{ item.id_zoom }}</td>
          <td>{{ item.clave_zoom }}</td>
          <td>
              <div class="d-flex">
                <button type="button" class="btn btn-primary btn-sm m-2" routerLink="/edit/{{item.id}}">Edit</button>
                <button (click)="deleteCourse(item.id!)" type="button" class="btn btn-danger btn-sm m-2">Delete</button>
              </div>
          </td>
        </tr>
      </tbody>
  </table>
  <div *ngIf="listCourses.length == 0">
    <hr>
    <h6>No hay ningún registro</h6>
  </div>
  
  </div>
</div>