<app-progress-bar *ngIf="loading"></app-progress-bar>
<div class="container mb-4" *ngIf="!loading">
  <div class="d-flex justify-content-between my-4">
      <h2>Lista de Reuniones</h2>
      <button mat-raised-button color="warn" routerLink="/add">Agregar</button>
      <!-- <button type="button" class="btn btn-outline-primary" routerLink="/add">Agregar</button> -->
  </div>
  <!-- <div class="table-responsive">
    <table *ngIf="listCourses.length > 0" class="table table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">Id Horario</th>
          <th scope="col">Enlace</th>
          <th scope="col">Id Zoom</th>
          <th scope="col">Clave</th>
          <th width="10"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listCourses">
          <td scope="row">{{ item.id_horario }}</td>
          <td>{{ item.enlace_zoom }}</td>
          <td>{{ item.id_zoom }}</td>
          <td>{{ item.clave_zoom }}</td>
          <td>
              <div class="d-flex">
                <button type="button" class="btn btn-primary btn-sm m-2" routerLink="/edit/{{item.id}}">Edit</button>
                <button (click)="deleteCourse(item.id!)" type="button" class="btn btn-danger btn-sm m-2">Delete</button>
              </div>
          </td>
        </tr>
      </tbody>
  </table>
  <div *ngIf="listCourses.length == 0">
    <hr>
    <h6>No hay ningún registro</h6>
  </div>
  
  </div> -->
  

  <mat-form-field *ngIf="listCourses.length > 0" appearance="standard">
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input autocomplete="off">
  </mat-form-field>
  <div class="mat-elevation-z3">
    <table *ngIf="listCourses.length > 0" mat-table [dataSource]="dataSource" matSort>
      <!-- Position Column -->
      <ng-container matColumnDef="id_horario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Horario</th>
        <td mat-cell *matCellDef="let element"> {{element.id_horario}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="enlace_zoom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Enlace </th>
        <td mat-cell *matCellDef="let element"><a mat-raised-button color="primary" href="{{element.enlace_zoom}}" target="_blank"><mat-icon>link</mat-icon></a></td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="id_zoom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Zoom </th>
        <td mat-cell *matCellDef="let element"> {{element.id_zoom}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <!-- <ng-container matColumnDef="clave_zoom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Json Data </th>
        <td mat-cell *matCellDef="let element"> {{element.clave_zoom}} </td>
      </ng-container> -->

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element" class="text-right">
          <a class="text-dark" matTooltip="Buscar"><mat-icon>search</mat-icon></a>
          <a matTooltip="Editar" routerLink="/edit/{{element.id}}"><mat-icon>edit</mat-icon></a>
          <a (click)="deleteCourse(element.id!)" matTooltip="Eliminar" class="text-danger"><mat-icon>delete</mat-icon></a>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator *ngIf="listCourses.length > 0" [pageSizeOptions]="[5, 10, 20,50,100]" showFirstLastButtons></mat-paginator>
    <div *ngIf="listCourses.length == 0" class="p-4">
      <h5>No hay ningún registro</h5>
    </div>
  </div>
</div>

