<!-- <app-navbar></app-navbar>
<mat-drawer-container class="example-container" autosize [hasBackdrop]="false">
    <mat-drawer #drawer class="example-sidenav" opened="true" mode="side">
        <mat-selection-list #shoes [multiple]="false">
            <mat-list-option *ngFor="let option of options" [value]="option" class="text-white" >
              <a href="/{{option.toLowerCase()}}">{{option}}</a>
            </mat-list-option>
          </mat-selection-list>
    </mat-drawer>
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button> -->
      <!-- <p>{{shoes.selectedOptions.selected[0]?.value}}</p> -->
      <!-- <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
</mat-drawer-container> -->


<!-- <app-condador></app-condador> -->
<!-- <app-listado></app-listado> -->
<!-- <app-tutoria-page></app-tutoria-page> -->
<app-main-page></app-main-page>