.example-sidenav {
    padding: 5px;
    width: 230px;
    background-color: #3a3a3a;
    color: #fff;
  }

.mat-list-option:hover{
    background-color: #0a0a0a8e;
  }
.mat-list-option{
  /* height: 0!important; */
}




.mat-drawer{
  display: block;
  /* margin-top: 64px;
  position: fixed; */
}

.w-100{
  width: 100%;
}

.mat-list-option a{
  text-decoration: none;
  color: #fff;
  padding: 20px;
}
@media (max-width: 599px){
  
  .mat-drawer{
    display: block;
    /* margin: 55px 0;
    position: fixed; */
  }
}