<h1>DBZ</h1>
<hr>

<div class="row">
    <div class="col">
        <app-personajes [personajes]="personajes"></app-personajes>
        <!-- <h2>Personajes</h2>
        <hr>
        <ul>
            <li *ngFor="let personaje of personajes">{{personaje.nombre}} - {{personaje.poder | number}}</li>

        </ul> -->
    </div>

    <div class="col">
        <h2>Agregar {{nuevo.nombre}}</h2>
        <hr>
        <form  (ngSubmit)="agregar()">
            <!-- <input type="text" placeholder="Nombre" [value]="nuevo.nombre" (input)="cambiarNombre( $event )"> -->
            <input type="text" placeholder="Nombre" [(ngModel)]="nuevo.nombre" name="nombre">
            <input type="number" placeholder="Poder" [(ngModel)]="nuevo.poder" name="poder">
            <button class="btn btn-sm btn-danger" type="submit">Agregar</button>
        </form>
    </div>

</div>